<h1> {{heroe.id? 'Editar':'Nuevo'}} <small>{{heroe.superhero}} </small></h1>

<div fxLayout="row" fxLayoutGap="40px" fxLayout.xs="column" fxLayoutAlign="center">
    <div fxFlex="50" fxLayout="column">
        <div fxFlex="50" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">

            <mat-form-field fxFlex="100" fxLayout.xs="column">
                <mat-label>Supero Heroe</mat-label>
                <input matInput type="text" [(ngModel)]="heroe.superhero" required>
            </mat-form-field>

            <mat-form-field fxFlex="100">
                <mat-label>Alter Ego</mat-label>
                <input matInput type="text" [(ngModel)]="heroe.alter_ego" required>
            </mat-form-field>

        </div>

        <mat-form-field fxFlex="100">
            <mat-label>Aparición</mat-label>
            <input matInput type="text" [(ngModel)]="heroe.first_appearance" required>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Personajes</mat-label>
            <input matInput type="text" [(ngModel)]="heroe.characters" required>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Aparición</mat-label>
            <mat-select required [(ngModel)]="heroe.publisher" required>
                <mat-option *ngFor="let pub of publishers" [value]="pub.id">{{pub.desc}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Foto de Url</mat-label>

            <input matInput type="url" [(ngModel)]="heroe.alt_img" required>
        </mat-form-field>

        <div fxLayout>
            <button mat-raised-button color="warn" (click)="salvarHeroe()">
                <mat-icon>save</mat-icon>  {{heroe.id? 'Actualizar':'Crear'}} 
            </button>
            <span class="spacer"></span>
            <button *ngIf="heroe.id" (click)="borrarHeroe(heroe.id)" mat-raised-button color="">
                <mat-icon>delete</mat-icon>Borrar
            </button>
        </div>
    </div>
    <div fxFlex="50" fxFlex.lg="15" fxFlex.sm="30">
        <img [src]="heroe|heroeImegen" alt="" class="img-mostrar">

    </div>
</div>