<p>error-page works!</p>

<ul>
    <li>
        <a [routerLink]="['/auth/login']">Login</a>
    </li>
    <li>
        <a [routerLink]="['/auth/register']">register</a>
    </li>
    <li>
        <a [routerLink]="['/heroes/listado']">listado heroes</a>
    </li>
    <li>
        <a [routerLink]="['/heroes/agregar']">agregar heroes</a>
    </li>
    <li>
        <a [routerLink]="['/heroes/buscar']">buscar heroes</a>
    </li>
    <li>
        <a [routerLink]="['/heroes/editar/1']">Editar heroes</a>
    </li>
</ul>